html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#results {
  font-size: large;
}
